### 1.Importation les librairies

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

## 2. Importation un fichier

In [2]:
data=pd.read_csv("Farmer.csv",sep=";")

## 3.Verifier les donnees manquantes

In [3]:
data.isnull().sum()

 ID                               0
Parent ID                         2
Object state                      0
Status                            0
Agent name                        0
                               ...
Latest soybean selling price      0
Time to payment                   6
Interest for rapid payment       63
Harvest pick-up conditions      187
Need for rapid pick-up          188
Length: 79, dtype: int64

### Affichage des colonnes avec plus de données manquantes

In [4]:
columns = list(data.columns)
many_missing_data_df = dict()
columns_with_many_missing_data = []

for column in columns:
    missing = data[column].isnull().sum() 
    missing_pcnt = round(missing * 100 / data.shape[0], 2)
    if missing_pcnt > 80:
        many_missing_data_df[column] = str(missing_pcnt)  + "%"
        columns_with_many_missing_data.append(column)

many_missing_data_df = pd.DataFrame({"Pourcentage de données manquantes": many_missing_data_df})
many_missing_data_df

                               Pourcentage de données manquantes
Education level                                           81.84%
If other sorghum type, precise                            95.24%
If other soybean type, precise                            99.42%
If yes, capacity to pay                                   80.68%
Subtitle                                                  100.0%

## 4. Verifier les types de variables

In [5]:
data.dtypes

 ID                               int64
Parent ID                       float64
Object state                     object
Status                           object
Agent name                       object
                                 ...
Latest soybean selling price      int64
Time to payment                  object
Interest for rapid payment       object
Harvest pick-up conditions       object
Need for rapid pick-up           object
Length: 79, dtype: object

## convertir ces types de variables

In [6]:
data = data.convert_dtypes()

## Voir si ce sont converties

In [7]:
data.dtypes

 ID                              Int64
Parent ID                        Int64
Object state                    string
Status                          string
Agent name                      string
                                 ...
Latest soybean selling price     Int64
Time to payment                 string
Interest for rapid payment      string
Harvest pick-up conditions      string
Need for rapid pick-up          string
Length: 79, dtype: object

## Details sur notre dataFrame

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 79 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0    ID                             1030 non-null   Int64
 1   Parent ID                       1028 non-null   Int64
 2   Object state                    1030 non-null   string
 3   Status                          1030 non-null   string
 4   Agent name                      1030 non-null   string
 5   Agent first name                1030 non-null   string
 6   Title                           1030 non-null   string
 7   Subtitle                        0 non-null      Int64
 8   Lon                             1029 non-null   Float64
 9   Lat                             1029 non-null   Float64
 10  Accuracy                        1030 non-null   Int64
 11  Date                            1030 non-null   string
 12  Gender                          1030 non-null   string
 13  Last (family) name              1030 non-null   string
 14  First (given) name              1029 non-null   string
 15  Age                             1030 non-null   Int64
 16  Phone number                    1030 non-null   Int64
 17  Number of years in activity     1030 non-null   Int64
 18  Year of membership              1030 non-null   Int64
 19  Literate?                       1026 non-null   string
 20  Education level                 187 non-null    string
 21  Farmer picture                  1030 non-null   string
 22  ID card picture                 1030 non-null   string
 23  Number of spouses               1030 non-null   Int64
 24  Spouses involved in trade?      1030 non-null   string
 25  Spouses involved in food crops  1030 non-null   string
 26  Spouses involved in craftwork   1030 non-null   string
 27  Number of children              1030 non-null   Int64
 28  Nb. children < 6 yrs old        1030 non-null   Int64
 29  Nb. children between 6-18 yrs   1030 non-null   Int64
 30  Nb. children attending school   1030 non-null   Int64
 31  Nb. children working on farm    983 non-null    string
 32  Annual income                   1030 non-null   Int64
 33  Means of transportation         1027 non-null   string
 34  Housing material                1026 non-null   string
 35  Access to electicity            1026 non-null   string
 36  Access to drinking water        1027 non-null   string
 37  Access to health facilities     1021 non-null   string
 38  Total number of farming plots   1030 non-null   Int64
 39  Total farm area                 1030 non-null   Float64
 40  Main crop                       1027 non-null   string
 41  If sorghum, type                444 non-null    string
 42  If other sorghum type, precise  49 non-null     string
 43  If soybean, type                549 non-null    string
 44  If other soybean type, precise  6 non-null      string
 45  Secondary crop                  1017 non-null   string
 46  Total sorghum area              1030 non-null   Float64
 47  Total soybean area              1030 non-null   Float64
 48  Bank account?                   1026 non-null   string
 49  Interest for credit             1021 non-null   string
 50  Access to cooperative credit    1027 non-null   string
 51  Access to third party credit    1021 non-null   string
 52  Access to bank/MFI credit       1014 non-null   string
 53  Average loan amount             1030 non-null   Int64
 54  Loan rate                       1030 non-null   Int64
 55  Ongoing bridging credit?        1030 non-null   Int64
 56  Amount repayable (in cash)      1030 non-null   Int64
 57  Harvest pledged?                826 non-null    string
 58  Interest standardized credit?   918 non-null    string
 59  If yes, for which amount?       1030 non-null   Int64
 60  Use of inputs                   1023 non-null   string
 61  Actual spending on inputs       1030 non-null   Int64
 62  Benefits of recommended dose?   1026 non-null   string
 63  Applying recommended doses?     1019 non-null   string
 64  Interest for agric. insurance   1012 non-null   string
 65  If yes, capacity to pay         199 non-null    string
 66  Agricultural services           961 non-null    string
 67  Quality of advisories           886 non-null    string
 68  Frequency of advisor visits     877 non-null    string
 69  Interest personalized advisory  961 non-null    string
 70  If yes, capacity to pay.1       334 non-null    string
 71  Main buyer                      1028 non-null   string
 72  Search for buyer                1024 non-null   string
 73  Latest sorghum selling price    1030 non-null   Int64
 74  Latest soybean selling price    1030 non-null   Int64
 75  Time to payment                 1024 non-null   string
 76  Interest for rapid payment      967 non-null    string
 77  Harvest pick-up conditions      843 non-null    string
 78  Need for rapid pick-up          842 non-null    string
dtypes: Float64(5), Int64(23), string(51)
memory usage: 664.0 KB

## 5.Nettoyage des donnees

###  normalisation des noms des colonnes

In [18]:
datacopy = data.copy()

In [19]:
from re import sub

def format_column_name(column_name):
    column_name = column_name.strip().lower()
    column_name = column_name.replace(' ', '_')
    column_name = column_name.replace('-', '_')

    return sub(r'[()?<>./,]', '', column_name).replace('-', '_')

columns = list(datacopy.columns)
for column in columns:
    datacopy.rename(columns= {column: format_column_name(column)}, inplace=True)

###  distinguer les variables quantitatives et qualificatives

In [20]:
cat_data = []
num_data = []
for i, c in enumerate (datacopy.dtypes):
    cat_data.append(datacopy.columns[i]) if c == "string"  else num_data.append(datacopy.columns[i])      

print("Les Variables quantitatives sont: \n", num_data)
print("\nLes Variables qualificatives sont: \n", cat_data)

Les Variables quantitatives sont:
 ['id', 'parent_id', 'subtitle', 'lon', 'lat', 'accuracy', 'age', 'phone_number', 'number_of_years_in_activity', 'year_of_membership', 'number_of_spouses', 'number_of_children', 'nb_children__6_yrs_old', 'nb_children_between_6_18_yrs', 'nb_children_attending_school', 'annual_income', 'total_number_of_farming_plots', 'total_farm_area', 'total_sorghum_area', 'total_soybean_area', 'average_loan_amount', 'loan_rate', 'ongoing_bridging_credit', 'amount_repayable_in_cash', 'if_yes_for_which_amount', 'actual_spending_on_inputs', 'latest_sorghum_selling_price', 'latest_soybean_selling_price']

Les Variables qualificatives sont:
 ['object_state', 'status', 'agent_name', 'agent_first_name', 'title', 'date', 'gender', 'last_family_name', 'first_given_name', 'literate', 'education_level', 'farmer_picture', 'id_card_picture', 'spouses_involved_in_trade', 'spouses_involved_in_food_crops', 'spouses_involved_in_craftwork', 'nb_children_working_on_farm', 'means_of_transportation', 'housing_material', 'access_to_electicity', 'access_to_drinking_water', 'access_to_health_facilities', 'main_crop', 'if_sorghum_type', 'if_other_sorghum_type_precise', 'if_soybean_type', 'if_other_soybean_type_precise', 'secondary_crop', 'bank_account', 'interest_for_credit', 'access_to_cooperative_credit', 'access_to_third_party_credit', 'access_to_bankmfi_credit', 'harvest_pledged', 'interest_standardized_credit', 'use_of_inputs', 'benefits_of_recommended_dose', 'applying_recommended_doses', 'interest_for_agric_insurance', 'if_yes_capacity_to_pay', 'agricultural_services', 'quality_of_advisories', 'frequency_of_advisor_visits', 'interest_personalized_advisory', 'if_yes_capacity_to_pay1', 'main_buyer', 'search_for_buyer', 'time_to_payment', 'interest_for_rapid_payment', 'harvest_pick_up_conditions', 'need_for_rapid_pick_up']

### remplacer les données vides des variables qualificatives par la mode

In [21]:
for column in cat_data:
    datacopy[column].fillna(datacopy[column].mode()[0], inplace=True)

### verification des modalites

In [22]:
for i in datacopy.columns:
    print("colonne:",i)
    print(datacopy[i].unique())
    print("\n")

colonne: id
<IntegerArray>
[  73,   74,   75,   76,   77,   78,   79,   88,   89,   90,
 ...
 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056]
Length: 1030, dtype: Int64


colonne: parent_id
<IntegerArray>
[  73,   86,   95,   99,   77,   84,   96,   98,  105,   75,   81,   87,   88,
   90,   92,   97,  103,  104,  107,  109,  113,   79,  108,  114,   76,   89,
  101,  102,  115,   78, <NA>,   85,   74,   82,   93,   94,  111,   80,   91,
  100,  106,  112]
Length: 42, dtype: Int64


colonne: object_state
<StringArray>
['Validated']
Length: 1, dtype: string


colonne: status
<StringArray>
['Enable']
Length: 1, dtype: string


colonne: agent_name
<StringArray>
[   'ATIBUGRI',     'Braimah', 'Abdul-Razak',       'Hamza',    'Mohammed',
      'Ziblim',      'Yahaya',       'Azure',     'Abukari']
Length: 9, dtype: string


colonne: agent_first_name
<StringArray>
['ABUGBIL GEORGE',       'Bushira ',          'Amin ',   'Paul Fuseini',
         'Wumbei',           'Nuhu',        'Osumani',      'Frederick',
         'Samson',          'Silas']
Length: 10, dtype: string


colonne: title
<StringArray>
['Issifu - Abugbilla',    'Akudug - Anyanr',  'Ateni  - Awindaug',
      'Ndewin - Amua',  'Amadim - Agingiri',    'Amoah - Abempoa',
         'Ali - Amos',        'Sule - Akua',     'Abazi - Abugri',
  'Akudago - Antoney',
 ...
  'Abdulai - Abdulai',   'Yussif - Fuseini',    'Binyama - Musah',
       'Baba - Musah', 'Alhassan  - Yakubu',      'Saibu - Musah',
 'Sulemana - Abdulai',   'Salifu  - Tahiru',     'Seidu - Mahama',
  'Sulemana - Mahama']
Length: 986, dtype: string


colonne: subtitle
<IntegerArray>
[<NA>]
Length: 1, dtype: Int64


colonne: lon
<FloatingArray>
[ -0.13375666666667,          -0.132925,  -0.13378333333333,
 -0.135946666666667,  -0.13384833333333, -0.135653333333333,
 -0.135833333333333, -0.139121666666667, -0.137636666666667,
 -0.135361666666667,
 ...
  -1.09509833333333,           -0.86372, -0.861746666666667,
          -0.861745, -0.862548333333333, -0.861438333333333,
 -0.865843333333334, -0.865811666666667, -0.864513333333333,
           -0.86362]
Length: 979, dtype: Float64


colonne: lat
<FloatingArray>
[       10.799995, 10.7987533333333,        10.799805, 10.8012066666667,
        10.801405, 10.8012716666667, 10.8031583333333, 10.8037466666667,
 10.8032116666667, 10.7971066666667,
 ...
 9.40967666666667, 9.41083833333333, 9.60205666666667,         9.602725,
          9.60326, 9.60540333333333, 9.60482666666667, 9.60484666666667,
          9.60147, 9.59584666666667]
Length: 971, dtype: Float64


colonne: accuracy
<IntegerArray>
[2, 1, 3, 4, 5, 0, 10]
Length: 7, dtype: Int64


colonne: date
<StringArray>
['2017-11-28 16:54:12', '2017-11-21 10:21:58', '2017-12-05 10:46:22',
 '2017-11-21 10:01:33', '2017-11-27 09:23:36', '2017-11-20 16:31:55',
 '2017-11-21 10:19:27', '2017-11-27 09:30:57', '2017-11-27 09:08:28',
 '2017-11-27 10:04:35',
 ...
 '2017-12-02 19:10:33', '2017-12-02 18:45:53', '2017-12-02 18:45:31',
 '2017-12-02 18:44:25', '2017-12-02 18:43:47', '2017-12-02 18:48:10',
 '2017-12-02 18:46:07', '2017-12-02 19:11:38', '2017-12-02 19:12:07',
 '2017-12-02 19:12:18']
Length: 978, dtype: string


colonne: gender
<StringArray>
['Mr', 'Mrs', 'Ms']
Length: 3, dtype: string


colonne: last_family_name
<StringArray>
[   'Issifu',    'Akudug',     'Ateni',    'Ndewin',    'Amadim',     'Amoah',
       'Ali',      'Sule',     'Abazi',   'Akudago',
 ...
   'Shahadu',    'Kadiri',     'Tisua',    'Azimah',    'Sebdow',  'Dokurugu',
 'Wumbeidow',   'Naporoo',   'Binyama',     'Saibu']
Length: 428, dtype: string


colonne: first_given_name
<StringArray>
[         'Abugbilla',             'Anyanr',           'Awindaug',
               'Amua',           'Agingiri',            'Abempoa',
               'Amos',               'Akua',             'Abugri',
            'Antoney',
 ...
             'Wumbee',             'Neindo',       'Abdul-Razaku',
 'Sibidow Wunibiyeli',              'Zelia',             'Kadiru',
           'Dokurugu',             'Fadila',              'Saibu',
             'Tahiru']
Length: 510, dtype: string


colonne: age
<IntegerArray>
[  52,   80,   55,   50,   60,   40,   35,   51,   79,   61,   86,   91,   64,
   58,   24,   59,   20,   32,   68,   67,   56,   73,   30,   23,   27,   44,
   46,   41,   70,   62,   47,   57,   81,   75,   83,   25,   29,   43,   95,
   34,   22,   42,   26,   17,   63,   48,   69,   37,   54,   21,   18,   33,
   45,   53,   65,   49,   31,   36,   39,   93,   38,   77,   28,   71,   72,
   78,    0,   85,   19,   66,   76,   89,   99,   74,   97,   88, 4555,   11]
Length: 78, dtype: Int64


colonne: phone_number
<IntegerArray>
[233555141984,    544516559, 233502085850,    246553228, 233240237865,
    248904039,    248830707,    551398439,    241406225,    241585488,
 ...
    247697985,    505758150,    245123330,    502823176,    244183894,
    548743787,    541153177,    200322288,    207470148,    249389624]
Length: 911, dtype: Int64


colonne: number_of_years_in_activity
<IntegerArray>
[  20,   50,   30,   34,   40,   25,   15,   70,   47,   65,   67,   57,   45,
   35,    7,    3,    0,   36,   19,    5,    8,   10,   26,   24,   12,   16,
    4,    9,   27,   13,   17,   23,    6,   14,   18,   11,   21,   33,   60,
   38,   80,   28,   48,   42,    2,   32,    1,   22,   55,   39,   37,   58,
   69,   29,   49,   52, 2005,   31,   61,   51,   41,   43,   46,   59]
Length: 64, dtype: Int64


colonne: year_of_membership
<IntegerArray>
[   0,    3,    4,    2,    6,    1, 2016, 2013, 2015, 2012, 2010, 2014,   15,
 2005,   10, 1995,   31, 2007, 2008, 2011, 2017, 2009, 2006]
Length: 23, dtype: Int64


colonne: literate
<StringArray>
['No', 'Yes']
Length: 2, dtype: string


colonne: education_level
<StringArray>
['Primary', 'Secondary', 'Tertiary']
Length: 3, dtype: string


colonne: farmer_picture
<StringArray>
['http://www.jotbi.com//document/photo/raw/b5338342-18dd-4716-ba72-d9187df876e4.jpg',
 'http://www.jotbi.com//document/photo/raw/f67a109c-d547-4b42-8b03-dd2bc3fee61d.jpg',
 'http://www.jotbi.com//document/photo/raw/7c309c08-21f2-40e8-bdb3-2ffd1be144a7.jpg',
 'http://www.jotbi.com//document/photo/raw/7ca8cdf8-cd7f-442b-acad-9ae6181e909b.jpg',
 'http://www.jotbi.com//document/photo/raw/d076d1a9-9120-487b-b355-322c0b02013a.jpg',
 'http://www.jotbi.com//document/photo/raw/d2ce5c2f-3e2b-41f7-9ec7-838a6e072dbc.jpg',
 'http://www.jotbi.com//document/photo/raw/0a808d9d-c917-4d0b-876f-04a7567387c3.jpg',
 'http://www.jotbi.com//document/photo/raw/7c80a31a-ca2e-42b4-8870-375c0f0bfae3.jpg',
 'http://www.jotbi.com//document/photo/raw/0ff24f8f-619e-4cde-bcf9-32c3b3ae4b65.jpg',
 'http://www.jotbi.com//document/photo/raw/ac3ba5df-9898-4da1-95e7-9318f2a43c14.jpg',
 ...
 'http://www.jotbi.com//document/photo/raw/560186ad-1d0e-4c67-9384-9126eddb8b31.jpg',
 'http://www.jotbi.com//document/photo/raw/c3293339-fffa-4bb5-8dc5-52973ffad45c.jpg',
 'http://www.jotbi.com//document/photo/raw/2f4cf5e0-efd9-4543-91c2-b6460d07dcc6.jpg',
 'http://www.jotbi.com//document/photo/raw/b2985168-423c-489d-83ad-13c65742fe36.jpg',
 'http://www.jotbi.com//document/photo/raw/25c70923-7d66-4b58-a9b7-cbe1f7aeba1e.jpg',
 'http://www.jotbi.com//document/photo/raw/ec0a177b-90fc-40a8-9563-046065817996.jpg',
 'http://www.jotbi.com//document/photo/raw/057b2a03-a1de-445b-abe1-2eece6ed1955.jpg',
 'http://www.jotbi.com//document/photo/raw/75f6e35c-0c44-4717-907f-2753c2963d2f.jpg',
 'http://www.jotbi.com//document/photo/raw/a6a8c432-594c-4c94-a11c-973c9da8880f.jpg',
 'http://www.jotbi.com//document/photo/raw/6490f63b-f179-47a5-9266-7f7cace746ad.jpg']
Length: 1030, dtype: string


colonne: id_card_picture
<StringArray>
['http://www.jotbi.com//document/photo/raw/96b19bcc-e469-4406-a435-fa35000e1263.jpg',
                        'http://www.jotbi.com//document/photo/raw/5a12fe2338b34.jpg',
 'http://www.jotbi.com//document/photo/raw/e9e28170-737c-4447-88e9-5ef9b316b9ce.jpg',
 'http://www.jotbi.com//document/photo/raw/3a29fc90-1c76-4377-a365-ad7dda53ad8e.jpg',
 'http://www.jotbi.com//document/photo/raw/123a492e-dbec-49d7-bcaa-60d3df4d2b09.jpg',
 'http://www.jotbi.com//document/photo/raw/9bb1d43f-6813-48ed-a6d1-c66e9b9f2280.jpg',
 'http://www.jotbi.com//document/photo/raw/312cc57b-6c81-4c6e-9679-f913d076d1f5.jpg',
 'http://www.jotbi.com//document/photo/raw/789db366-fa07-4d8f-902f-5d1d9237c48d.jpg',
 'http://www.jotbi.com//document/photo/raw/8ed7ac19-d618-4756-9f67-d6398fdc847f.jpg',
 'http://www.jotbi.com//document/photo/raw/7aa57f27-a0c7-4cfa-889c-a092ad6109c5.jpg',
 ...
                        'http://www.jotbi.com//document/photo/raw/5a22faa7e3c67.jpg',
 'http://www.jotbi.com//document/photo/raw/6f0b20a4-aa4e-4795-b8c8-7a11f83cd855.jpg',
 'http://www.jotbi.com//document/photo/raw/9a756e2d-2ce0-4d4b-95eb-721b6be20e33.jpg',
                        'http://www.jotbi.com//document/photo/raw/5a22f4781c5cb.jpg',
                        'http://www.jotbi.com//document/photo/raw/5a22f4472523e.jpg',
                        'http://www.jotbi.com//document/photo/raw/5a22f568aec7b.jpg',
                        'http://www.jotbi.com//document/photo/raw/5a22f4ee3b35c.jpg',
                        'http://www.jotbi.com//document/photo/raw/5a22fadf9d98c.jpg',
                        'http://www.jotbi.com//document/photo/raw/5a22fafc17a7d.jpg',
                        'http://www.jotbi.com//document/photo/raw/5a22fb10216f1.jpg']
Length: 1030, dtype: string


colonne: number_of_spouses
<IntegerArray>
[2, 3, 1, 0, 5, 4, 13]
Length: 7, dtype: Int64


colonne: spouses_involved_in_trade
<StringArray>
['No', 'Yes']
Length: 2, dtype: string


colonne: spouses_involved_in_food_crops
<StringArray>
['Yes', 'No']
Length: 2, dtype: string


colonne: spouses_involved_in_craftwork
<StringArray>
['Yes', 'No']
Length: 2, dtype: string


colonne: number_of_children
<IntegerArray>
[11, 23,  7,  8,  2,  5,  3,  9, 22, 19, 13, 21, 12,  0,  4,  1, 10, 14,  6,
 20, 15, 25, 24, 18, 17, 26, 16, 51, 42]
Length: 29, dtype: Int64


colonne: nb_children__6_yrs_old
<IntegerArray>
[2, 4, 3, 0, 6, 1, 5, 11, 10, 7, 8, 15, 9]
Length: 13, dtype: Int64


colonne: nb_children_between_6_18_yrs
<IntegerArray>
[5, 15, 2, 4, 0, 1, 9, 7, 3, 6, 11, 8, 12, 10, 13, 19, 18, 14]
Length: 18, dtype: Int64


colonne: nb_children_attending_school
<IntegerArray>
[8, 17, 3, 5, 0, 2, 7, 9, 6, 4, 1, 10, 11, 14, 15, 13, 12, 19, 22, 18]
Length: 20, dtype: Int64


colonne: nb_children_working_on_farm
<StringArray>
['Only during the school holidays',            'Several times a week',
                       'Sometimes',                           'Never',
                        'Everyday']
Length: 5, dtype: string


colonne: annual_income
<IntegerArray>
[   0, 1000,  700, 1500, 2500,  900, 5000,  500,  200,  300,
 ...
 1908,  967, 2506, 1806, 1458, 1785,  956,  650, 1540,  100]
Length: 119, dtype: Int64


colonne: means_of_transportation
<StringArray>
['Bicycle', 'By foot', 'Motorcycle/Moped']
Length: 3, dtype: string


colonne: housing_material
<StringArray>
['Mud / clay', 'Concrete', 'Bricks', 'Wood']
Length: 4, dtype: string


colonne: access_to_electicity
<StringArray>
['Not at all', 'Grid', 'Solar']
Length: 3, dtype: string


colonne: access_to_drinking_water
<StringArray>
['Well', 'Hydraulic pump', 'Tap', 'Lake / pond', 'River']
Length: 5, dtype: string


colonne: access_to_health_facilities
<StringArray>
['Average', 'Good', 'Poor', 'Very good', 'No access']
Length: 5, dtype: string


colonne: total_number_of_farming_plots
<IntegerArray>
[2, 3, 5, 4, 6, 8, 1, 7, 0, 20, 15, 10, 12, 14, 13, 9, 30, 16, 11]
Length: 19, dtype: Int64


colonne: total_farm_area
<FloatingArray>
[12.0, 20.0, 10.0,  7.0,  1.0, 15.0, 11.0,  6.0,  4.0,  2.0,  5.0,  3.0,  8.0,
  9.0, 13.0,  4.5,  4.3, 18.0, 25.0, 21.0,  3.5,  6.5,  1.5,  5.5,  0.5, 14.0,
 12.5, 11.5, 16.0, 17.0, 33.0, 22.0, 30.0, 32.0, 23.0, 19.0, 24.0,  0.0, 50.0,
 40.0,  7.5,  9.5,  8.5, 10.5, 18.5, 26.0]
Length: 46, dtype: Float64


colonne: main_crop
<StringArray>
['Sorghum', 'Soybean', 'Groundnut', 'Maize', 'Pearl Millet']
Length: 5, dtype: string


colonne: if_sorghum_type
<StringArray>
['White', 'Red', 'Other']
Length: 3, dtype: string


colonne: if_other_sorghum_type_precise
<StringArray>
['Both red and white', 'both red and white',  'Red and and white',
     'Both red white', 'Both ref and white',       'Both and red',
 'Both Red and white', 'Both Red and White',   'Both red and red',
 'Both white and red',               'Both',                'Mix',
              'White']
Length: 13, dtype: string


colonne: if_soybean_type
<StringArray>
['White', 'Red', 'Other']
Length: 3, dtype: string


colonne: if_other_soybean_type_precise
<StringArray>
['White', '11', 'Yellow']
Length: 3, dtype: string


colonne: secondary_crop
<StringArray>
[       'Maize',      'Soybean', 'Pearl Millet',      'Sorghum',
  'Upland rice',       'Potato',    'Groundnut',        'Other',
       'Cowpea']
Length: 9, dtype: string


colonne: total_sorghum_area
<FloatingArray>
[ 3.0,  1.5,  2.0,  1.0,  0.0,  5.0,  1.8,  1.2,  4.0,  2.4,  6.0,  8.0, 20.0,
  0.5,  2.5,  3.5, 10.0,  4.5]
Length: 18, dtype: Float64


colonne: total_soybean_area
<FloatingArray>
[0.0, 1.0, 2.0, 3.0, 1.5, 0.5, 3.5, 0.4, 4.0, 2.5, 5.0, 6.0, 8.0, 14.0, 7.0]
Length: 15, dtype: Float64


colonne: bank_account
<StringArray>
['Yes', 'No']
Length: 2, dtype: string


colonne: interest_for_credit
<StringArray>
[           'Interested', 'Moderately interested',        'Not interested',
       'Very interested', 'Marginally interested']
Length: 5, dtype: string


colonne: access_to_cooperative_credit
<StringArray>
['Never', 'Sometimes', 'Always']
Length: 3, dtype: string


colonne: access_to_third_party_credit
<StringArray>
['Never', 'Sometimes', 'Always']
Length: 3, dtype: string


colonne: access_to_bankmfi_credit
<StringArray>
['Never', 'Sometimes', 'Always']
Length: 3, dtype: string


colonne: average_loan_amount
<IntegerArray>
[    0,   200,   100,   300,    50,   150,   130,   140,   500,   250,   700,
   170,   120,   370,   235,   240,   265,   270,   450,   560,   400,   230,
   350,   340,   570,   280,   257,   520,   375,   175,   320,   190,    70,
   390,   345,   160,   325,   245,  1000,  1100,   600,  1500,  3000,  2000,
 10000]
Length: 45, dtype: Int64


colonne: loan_rate
<IntegerArray>
[0, 10, 18, 5, 4, 16, 20, 15, 100, 6, 200, 2, 7, 1, 3, 42, 26, 25, 30, 32]
Length: 20, dtype: Int64


colonne: ongoing_bridging_credit
<IntegerArray>
[  50,    0,  150,  300,  400,  200,   40,  100,  500,  120,  160,  600,  250,
 1500,  800,  210, 2000,  350,  450, 1000,  700,   60,   55,  130, 2500,  280,
  180,   30]
Length: 28, dtype: Int64


colonne: amount_repayable_in_cash
<IntegerArray>
[ 200,    0,  400,  120,  500,  600,  350,  300,   50,  210,  110,   80,  150,
  250,  220,  450,  550,  470,  230,  240,  320,   40,  100, 2000, 2500, 1300,
  800,   70,   55,  375,  130, 1000,  650,    8,  700,   60, 6000]
Length: 37, dtype: Int64


colonne: harvest_pledged
<StringArray>
['No', 'Yes', 'In part']
Length: 3, dtype: string


colonne: interest_standardized_credit
<StringArray>
['Yes', 'No']
Length: 2, dtype: string


colonne: if_yes_for_which_amount
<IntegerArray>
[ 1000,     0,   500,   100,   200,   300,   700,   309,  2000,   900,   750,
   800,   600,   240,   680,  1500,  1400,   344,   780,  1700,   730,   570,
   970,   140,   400,  1300,   450,   670,  3000,  5000,  2500, 10000,  1600,
  1800,  6000,  4000,  1200,   980,   950,   890,  3500,  8000,   860,  1540,
   580,  5400,  1900,  7500,  4500,  7800,  6500,  9000,   250,  7000,   350]
Length: 55, dtype: Int64


colonne: use_of_inputs
<StringArray>
[                      'Sometimes',                          'Seldom',
 'At half of the recommended dose',             'At recommended dose',
                      'Not at all']
Length: 5, dtype: string


colonne: actual_spending_on_inputs
<IntegerArray>
[ 328,  600,   90,  540,    0,  200, 3400,  500, 1200,  392,
 ...
   13,   41,   42,   32,   62,   31,   15,   39,   35,  156]
Length: 157, dtype: Int64


colonne: benefits_of_recommended_dose
<StringArray>
['May be', 'Yes', 'No']
Length: 3, dtype: string


colonne: applying_recommended_doses
<StringArray>
['May be', 'Yes', 'No']
Length: 3, dtype: string


colonne: interest_for_agric_insurance
<StringArray>
['Yes', 'No', 'Maybe']
Length: 3, dtype: string


colonne: if_yes_capacity_to_pay
<StringArray>
[      'Less than GHS 200/acr', 'Between GHS 400 and 800/acr',
 'Between GHS 200 and 400/acr',           'Above GHS 800/acr']
Length: 4, dtype: string


colonne: agricultural_services
<StringArray>
[                                    'MOFA',
               'Presbetarisn Agric Station',
                             'MOFA and PAS',
                                     'MoFA',
                     'No extenson services',
          'Presbetarian Agric Station Garu',
                    'No extension services',
                                      'PAS',
                    'No extention services',
                     'No extension sevices',
               'Presbetarian Agric Station',
                    'NO Extension services',
                    'NO extention services',
                                 'MOFA PAS',
                              'MOFAand PAS',
                             'PAS and MOFA',
                            'No extenssion',
           'Prebetarian Agric Station(PAS)',
                                     'none',
                                     'SARI',
                                     'RING',
                                       'No',
                          'Agric Extension',
                  'Agric Extension Officer',
                  'Agric Ectension Officer',
                      'No Agric advisories',
                    'AgroBusiness Services',
                                     'AGRA',
                        'No Agric services',
                      'No Agric Advisories',
                          'Agriv Exrension',
                          'Agric extension',
                                     'Mofa',
                                     'M0FA',
                                'Mr Sakara',
                  'Ministry of Agriculture',
                 'Ministry of Agricultural',
                                     'None',
                     'Ministry Agriculture',
                  'Ministry Of Agriculture',
                           'Agric Ministry',
                                      'Yes',
                             "I don't know",
                                       'NO',
        'Presbyterian Agricultural Station',
  'Presbyterian Agricultural Station (PAS)',
        'Presbyterian Agricultural station',
       'Presbyterian Agricultural Stations',
                'Presbyterian Agricultural',
                             'Presbyterian',
                       'extension services',
                 'Agric extention services',
                  'Agric extention service',
                  'Agric extension officer',
                 'Agric extention serviced',
   'Agric extension services which is rare',
                  'Agric extension service',
                 'Agric extension services',
                 'Agric Extension services',
                 'Extension Agric services',
                       'Extension services',
                        'Extension service',
                  'Agric Extension service',
                 'Agric Extension Serviced',
                 'Agric extension serviced',
       'Agric/vetrenary extension services',
   'Vertinery and agric extension services',
     'Vertirinery/agric extension services',
   'Agric extension service and veritinery',
 'Vertirinery and agric extension services']
Length: 70, dtype: string


colonne: quality_of_advisories
<StringArray>
['Good', 'Average', 'Poor', 'Barely acceptable', 'Very good', 'Useless']
Length: 6, dtype: string


colonne: frequency_of_advisor_visits
<StringArray>

### Suppression des colonnes qui ont une modalité unique

In [23]:
datacopy.drop(columns=["status"], inplace=True)

datacopy.drop(columns=["object_state"], inplace=True)

### Supprimer des les lignes avec les doublons

In [24]:
datacopy.drop_duplicates()

,id,parent_id,agent_name,agent_first_name,title,subtitle,lon,lat,accuracy,date,...,interest_personalized_advisory,if_yes_capacity_to_pay1,main_buyer,search_for_buyer,latest_sorghum_selling_price,latest_soybean_selling_price,time_to_payment,interest_for_rapid_payment,harvest_pick_up_conditions,need_for_rapid_pick_up
0,73,73,ATIBUGRI,ABUGBIL GEORGE,Issifu - Abugbilla,<NA>,-0.133757,10.799995,2,2017-11-28 16:54:12,...,Yes,Between 5 and 15 Kg/acr,Market,Easy,5,0,Within 24 hours,Upon delivery,Good,Useful
1,74,73,ATIBUGRI,ABUGBIL GEORGE,Akudug - Anyanr,<NA>,-0.132925,10.798753,2,2017-11-21 10:21:58,...,No,5 Kg/acr,Market,Easy,5,0,Within 24 hours,Upon delivery,Good,Useful
2,75,73,ATIBUGRI,ABUGBIL GEORGE,Ateni - Awindaug,<NA>,-0.133783,10.799805,2,2017-12-05 10:46:22,...,Yes,5 Kg/acr,Market,Easy,3,0,Within 24 hours,Upon delivery,Good,Useful
3,76,73,ATIBUGRI,ABUGBIL GEORGE,Ndewin - Amua,<NA>,-0.135947,10.801207,2,2017-11-21 10:01:33,...,May be,Between 5 and 15 Kg/acr,Market,Difficult,2,0,Within 24 hours,Upon delivery,Good,Useful
4,77,73,ATIBUGRI,ABUGBIL GEORGE,Amadim - Agingiri,<NA>,-0.133848,10.801405,2,2017-11-27 09:23:36,...,Yes,Between 15 and 30 kg/acr,Cooperative,Easy,2,0,Within 24 hours,Upon delivery,Good,Useful
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,1052,112,Abukari,Silas,Issah - Alhassan,<NA>,-0.865843,9.604827,2,2017-12-02 18:48:10,...,Yes,Between 5 and 15 Kg/acr,Market,Very difficult,0,5,Within 24 hours,Within 24 hours after delivery,Average,Moderately useful
1026,1053,112,Abukari,Silas,Sulemana - Abdulai,<NA>,-0.865812,9.604847,2,2017-12-02 18:46:07,...,Yes,5 Kg/acr,Market,Very difficult,0,5,Within 24 hours,Within 48 hours after delivery,Average,Moderately useful
1027,1054,112,Abukari,Silas,Salifu - Tahiru,<NA>,-0.864513,9.60147,2,2017-12-02 19:11:38,...,No,5 Kg/acr,Market,Very difficult,0,5,Within 48 hours,Within 24 hours after delivery,Average,Moderately useful
1028,1055,112,Abukari,Silas,Seidu - Mahama,<NA>,-0.864513,9.60147,2,2017-12-02 19:12:07,...,Yes,5 Kg/acr,Market,Difficult,0,5,Within 48 hours,Within 24 hours after delivery,Average,Useful
1029,1056,112,Abukari,Silas,Sulemana - Mahama,<NA>,-0.86362,9.595847,2,2017-12-02 19:12:18,...,Yes,Between 5 and 15 Kg/acr,Market,Difficult,0,0,Within 48 hours,Within 24 hours after delivery,Average,Moderately useful

In [26]:
pd.crosstab(datacopy["agent_name"],datacopy["lat"],margins="True")

lat,0.0,9.30062333333333,9.302455,9.31004,9.31635666666667,9.31635833333333,9.31641333333333,9.31650333333333,9.31748,9.32328666666667,...,10.87178,10.8718383333333,10.871885,10.87215,10.8725916666667,10.874831666667,10.876008333333,10.876136666667,10.876278333333,All
agent_name,,,,,,,,,,,,,,,,,,,,,
ATIBUGRI,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,115
Abdul-Razak,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,100
Abukari,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,157
Azure,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,135
Braimah,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71
Hamza,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,107
Mohammed,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,96
Yahaya,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,99
Ziblim,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,149
All,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1029